*{
	margin:0;
	padding:0;
}
body{
	margin-top:10;
}
div.container{
	background-color:#F0F8FF;
	width:800px;
	padding-left:50px;
	
}
#feature{
	padding-left:50px;
	
}

img{
	width:80px;
	height:50px;
}

.row{
	font-family: 'Oswald', sans-serif;
  	font-size: 1.2em;
}
.row h1{
	
}
.footer{
	
}
#navigation ul{
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

#navigation li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

#navigation a {
  text-decoration: none;
  color: #A52A2A;
  display: block;
  transition: .3s background-color;
  padding:0px 10px 0px 10px;
}
 
#navigation a:hover {
  background-color: #005f5f;
  color: #fff;
}

#navigation li {
    display: inline-block;
    margin-right: 4px;
  }
  
  #navigation li {
    float: left;
  }
  
  #navigation {
    background-color: #444;
  }
  .clear{
  	clear:both;
  }
  
  legend {
    font-size: 1em;
}

form {
  font:100%;
  font-family: 'Oswald', sans-serif;
  min-width: 500px;
  max-width: 800px;
  width: 700px;
}

form fieldset {
  border-color: #bdbebf;
  border-width: 3px;
  margin: 0;
}

legend {
    font-size: 1.3em;
}

form label { 
    width: 250px;
    display: block;
    float: left;
    text-align: right;
    padding: 2px;
}
